<div class="p-4 border rounded w-full h-full">
  <img src="https://placehold.co/400" alt="" class="w-full max-w-md" />
  <h1 class="text-base font-bold">{{ product?.title! }}</h1>
  <p class="text-sm overflow-hidden line-clamp-2 h-10">{{ product?.title! }}</p>
  <p class="text-sm">จำนวนหน้า : {{ product?.pages }}</p>
  <p class="text-sm">
    ผู้แต่ง : <span>{{ product?.author }}</span>
  </p>
  <div class="flex space-x-1">
    <div *ngFor="let item of product?.categories">
      <span class="text-xs bg-gray-200 rounded-full px-2 py-1">
        {{ item.name }}
      </span>
    </div>
  </div>
</div>
